/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  width: 80%;
}
a {
  text-decoration: none;
}
a:visited {
  font: inherit;
  color: inherit;
}
header {
  border: 1px solid red;
  background-color: red;
}
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 8px;
  margin: 0 auto;
}
input {
  width: 100%;
}
textarea {
  resize: none;
  width: 100%;
  height: 300px;
  font: inherit;
  padding: 8px;
}
form button {
  align-self: flex-start;
  font: inherit;
  color: white;
  border: none;
  background-color: #2d9ee9;
  padding: 8px;
  cursor: pointer;
}
th {
  font-weight: 800;
}
th:first-child {
  width: 20%;
}
th:last-child {
  width: 15%;
}
td {
  padding: 6px 0;
}
tr:nth-child(even) {
  background-color: rgb(200, 247, 247);
}
